﻿<div style="font-family: Arial">
    <div class="container" style="display:none" id="MainId">
        <form name="Conference_Form" id="RoomBookingController" ng-controller="RoomBookingController" ng-submit="bookRoom(Conference,$event)">

        <br />
        <div style="height:auto; color: #3a87ad;vertical-align:top;" id="HeadingId">
                <div style="display:inline-block;vertical-align:top;" >
                 
                    @* TCS Logo *@
                <img src="Content/TATA_Consultancy_Services.png"    alt="tcs logo" > 
                    
                    </div>
           
               <div   style="display:inline-block;text-align:end;vertical-align:top;padding-left:130px;padding-top:15px"  >
                  
                <h1 >Book Your Meeting Room</h1>
                   </div>                
        </div>
            <br />
    <div style="border: ridge; border-color: #E0F0FF" ng-show="BookedRoomName!=null && BookedRoomName!=''">
        <div class="text-center" ng-style="{color:'green'}">
            Room <b>{{BookedRoomName}}</b> has been booked successfully<br/> from <b>{{BookedFromDate}}</b> to <b>{{BookedToDate}}</b>
                </div>
            </div>
            <br />
            <div class="form-group">
                <div class="btn-toolbar">
                    <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-primary" style="width:130px" ng-class="(opportunity=='y' || opportunity==null) ? 'btn btn-primary active':'btn btn-info'">
                            <input type="radio" name="radioDateSelect" value="y" id="todayId" ng-model="opportunity" ng-checked="true" />
                            Book For Today
                        </label>                      
                         </div>
                        <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-primary" style="width:130px" ng-class="opportunity=='z'? 'btn btn-primary active':'btn btn-info'">
                            <input type="radio" name="radioDateSelect" value="z" id="futureId" ng-model="opportunity">
                            Book For Future
                        </label>
                        </div>
                        <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-primary" style="width:130px" ng-class="opportunity=='searchBook'? 'btn btn-primary active':'btn btn-info'">
                            <input type="radio" name="radioDateSelect" value="searchBook" id="searchBookId" ng-model="opportunity">
                            Search & Book
                        </label>
                            </div>
                    </div>               
                <br />

                <div style="border: ridge; border-color: #E0F0FF">
                    <br />

                    @* Select conference room *@
                    <div class="row" id="selectedMeetingRoom" ng-show="opportunity != 'searchBook'">
                        <div class="col-md-2">
                            <br />
                            <label class="Classlabel">Location :</label>
                        </div>
                        <div class="col-md-3">
                            <select class="form-control" title="Select conference room" name="ddlRoomSelected" ng-model="Conference.SelectedRoomName" ng-change="conferenceRoomChanged();" required>
                                <option value="" selected>Select conference room</option>
                                <option ng-repeat="room in conferenceRoomList" value="{{room.Name}}"><b>{{room.Name}}</b></option>
                            </select>

                            <span class="errorMessage" ng-show="(submitted || roomValidateclicked) && Conference_Form.ddlRoomSelected.$error.required">Please select conference room.
                            </span>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-2">
                            <br />
                            <div class="Classlabel">From Date & Time :</div>
                        </div>
                        <div class="input-group date form_date col-md-2" data-date="" data-date-format="dd MM yyyy" id="from_date" ng-disabled="opportunity!='z'">
                            <input class="form-control" size="16" type="text" name="FromDate" id="FromDate" title="Select from date" ng-model="Conference.FromDateInit" ng-disabled="opportunity!='z'" required readonly>
                            <span class="input-group-addon" id="spanFromDate"><span class="glyphicon glyphicon-calendar"></span></span>

                        </div>
                        <div class="input-group date form_time col-sm-2" data-date="" data-date-format="hh:ii" id="from_time">
                            <input class="form-control" size="16" type="text" name="FromTime" id="FromTime" title="Select start time" class="form-control" ng-model="Conference.FromTimeInit" required>
                            <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>
                        </div>
                    </div>
                    <br />
                    @* Select To Date and Time *@
                    <div class="row" id="ToDateId">
                        <div class="col-md-2">
                            <br />
                            <div class="Classlabel">To Date & Time :</div>
                        </div>
                        <div class="input-group date form_date col-md-2" data-date="" data-date-format="dd MM yyyy" id="to_date">
                            <input class="form-control" size="16" type="text" name="ToDate" id="ToDate" title="Select to date" ng-model="Conference.ToDateInit" ng-disabled="opportunity!='z'" required readonly>
                            <span class="input-group-addon" id="spanToDate"><span class="glyphicon glyphicon-calendar"></span></span>
                        </div>
                        <div class="input-group date form_time col-sm-2" data-date="" data-date-format="hh:ii" id="to_time">
                            <input class="form-control" size="16" type="text" name="ToTime" id="ToTime" title="Select end time" class="form-control" ng-model="Conference.ToTimeInit" required>
                            <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>
                        </div>
                        <span class="errorMessage" ng-show="isDateInValid">Selected date and time is Invalid.Please correct date and time</span>
                    </div>
                    <br />
                    @* Check room availablity *@
                    <div class="row">
                        <div class="col-md-6" style="margin-left: 10px">
                            <input type="button" class="btn btn-primary" value="Check Room Availability" name="checkIsRoomAvailable" id="checkIsRoomAvailable" ng-show="opportunity != 'searchBook'" ng-disabled="Conference.SelectedRoomName == null" />
                        </div>
                    </div>
                    @* Check available rooms *@
                    <div class="row">
                        <div class="col-md-6" style="margin-left: 10px">
                            <input type="button" class="btn btn-primary" value="Check Available Rooms" name="checkAvailableRooms" id="checkAvailableRooms" ng-hide="opportunity != 'searchBook'" />
                        </div>
                    </div>
                </div>
                <div style="border: ridge; border-color: #E0F0FF" ng-show="roomValidateclicked || (!roomsAreAvailable && searchAndRoomValidateclicked)">
            <div class="text-danger text-center" ng-show="!(isRoomAvailable == null || isRoomAvailable) && roomValidateclicked"><b>{{Conference.SelectedRoomName}} is already booked for entered time, Please see below details.</b></div>
            <div class="text-success text-center" ng-show="isRoomAvailable && roomValidateclicked"><b>{{Conference.SelectedRoomName}} is available for booking, Please fill below details.</b></div>
            <div class="text-danger text-center" ng-show="!roomsAreAvailable && searchAndRoomValidateclicked"><b>Rooms are not available for seleted time</b></div>
                </div>
                <div style="border: ridge; border-color: #E0F0FF" ng-if="isRoomAvailable && (roomValidateclicked || roomsAreAvailable)">
                    <br />
                    @*Selected location Name*@
                    <div class="row" id="divLocationLabelId" ng-show="isRoomSelectedFormAvailableRooms">
                        <div class="col-md-2">
                            <div class="Classlabel">
                                Location :
                            </div>
                        </div>
                        <div class="col-md-3">
                <div class="Classlabel">
                    {{Conference.SelectedRoomName}}
                </div>
            </div>
            <br/>
                    </div>

                    @* Bookee Name *@
                    <div class="row" id="divUsernameId">
                        <div class="col-md-2">
                            <br />
                            <label class="Classlabel">
                                Name :
                            </label>
                        </div>
                        <div class="col-md-3">
                            <input name="txtUserName" class="form-control" title="Enter your name" type="text" ng-model="Conference.ContactPerson" placeholder="Enter your name" pattern="[a-zA-Z\s]+" required />
                            <br />
                            <span class="errorMessage" ng-show="submitted && Conference_Form.txtUserName.$error.required">Please enter your name.</span>
                            <span class="errorMessage" ng-show="submitted && Conference_Form.txtUserName.$error.pattern">Please enter a valid name.</span>
                        </div>
                    </div>
                    <br />
                    @* Bookee Contact Number*@
                    <div class="row" id="divMobileId">
                        <div class="col-md-2">
                            <br />
                            <div class="Classlabel">
                                Contact Number :
                            </div>
                        </div>
                        <div class="col-md-3">
                            <input name="txtMobileNumber" class="form-control" title="Enter your phone number" type="text" ng-model="Conference.MobileNumber" placeholder="Enter your phone number" pattern="\d{5,15}" required />
                            <br />
                            <span class="errorMessage" ng-show="submitted && Conference_Form.txtMobileNumber.$error.required">Please enter your phone number.</span>
                            <span class="errorMessage" ng-show="submitted && Conference_Form.txtMobileNumber.$error.pattern">Must be numeric with minimum of 5 and maximum of 15 digits.</span>
                        </div>
                    </div>
                    <br />
                    @* Bookee Contact Mail Id*@
                    <div class="row" id="divemailId">
                        <div class="col-md-2">
                            <br />
                            <label class="Classlabel">
                                Email :
                            </label>
                        </div>
                        <div class="col-md-3">
                            <input name="txtEmail" title="Enter your email id" type="email" class="form-control" ng-model="Conference.EmailId" placeholder="Enter your email id" required />
                            <br />
                            <span class="errorMessage" ng-show="submitted && Conference_Form.txtEmail.$error.required">Please enter your email address.</span>
                            <span class="errorMessage" ng-show="submitted && Conference_Form.txtEmail.$error.email">Please enter a valid email address.</span>
                        </div>
                    </div>
                    <br />
                    @* Purpose of booking *@
                    <div class="row" id="divDescription">
                        <div class="col-md-2">
                            <br />
                            <div class="Classlabel">
                                Purpose of booking :
                            </div>
                        </div>
                        <div class="col-md-3">
                            <textarea title="Enter the purpose of booking" class="form-control" style="height: 100px; resize: none;overflow: scroll;" name="txtareaMeetingDescription" ng-model="Conference.Description" placeholder="Enter the purpose of booking" required></textarea>
                            <span class="errorMessage" ng-show="submitted && Conference_Form.txtareaMeetingDescription.$error.required">Please enter the purpose of booking.</span>
                        </div>
                    </div>
                    <br />
                    @* Submit booking details *@
                    <div class="row" style="margin-left: 10px">
                        <div class="col-md-8" id="SubmitId">
                            <input type="submit" class="btn btn-primary" name="Book" value="Book Now" ng-click="submitted=true" />
                        </div>
                    </div>
                    <br />
                </div>
                @* Grid to display room booking details.*@
                @* Grid to display room Avilable Rooms for Booking.*@
                <div class="row" ng-controller="GridCtrl">
                    <br />
                    <div class="col-md-12" style="height: 300px;background-color:transparent;" ng-grid="gridOptions" 
                        ng-if="((isRoomAvailable == false && roomValidateclicked == true)||(roomsAreAvailable == true && searchAndRoomValidateclicked == true))">
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript" src="~/Scripts/jquery-2.1.3.js" charset="UTF-8"></script>
<script src="~/Scripts/bootstrap-datetimepicker.js"></script>
<script src="~/Scripts/Component/jqueryScript/dateValidationJquery.js"></script>
