﻿@{
    ViewBag.Title = "ViewCalendar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section css
{
    @Styles.Render("~/Content/fullcalendar")

}

<h2>ViewCalendar</h2>

<div id="calendar"></div>


@Scripts.Render("~/bundles/jqueryui")
@Scripts.Render("~/bundles/fullcalendarjs")

<script type="text/javascript">

    $(document).ready(function () {
        $("#calendar").fullCalendar({
            header: {
                left: "prev,next,today",
                center: "title",
                right: "month,agendaWeek,agendaDay"
            },
            defaultView: "month",
            editable: true,
            allDaySlot: false,
            selectable: true,
            slotMinutes: 15,
            height: 300,
            width: 250,
            contentHeight: 200
        });
    })

</script>

