﻿<!DOCTYPE html>
<html data-ng-app="conferenceApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet"  media="screen"/>
    <link href="~/Content/meetingroom.css" rel="stylesheet"/>
    <link href="~/Content/bootstrap-datetimepicker.css" rel="stylesheet"  media="screen"/>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("css", required: false)
</head>
<body>
    @RenderBody()
    @*<script src="~/Scripts/jquery-2.1.3.js"></script>*@
   
    @*@Scripts.Render("/bundles/meetingroomjs")*@
    

    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/Component/Module/ConferenceAppModule.js"></script>
    <script src="~/Scripts/Component/Controller/BookingController.js"></script>
    @*<script src="~/Scripts/Component/Controller/SearchData.js"></script>*@
    <script src="~/Scripts/Component/Services/WebApiService.js"></script>
    <script src="~/Scripts/Component/Controller/DashbordController.js"></script>
    <script src="~/Scripts/Component/Services/BusinessService.js"></script>
    <script src="~/Scripts/Component/SharedService/MeetingRoomSharedFactory.js"></script>
    <link href="~/Content/ng-grid.css" rel="stylesheet" />
    <script src="~/Scripts/ng-grid.js"></script>
    <script src="~/Scripts/angular-ui/ui-bootstrap-tpls.js"></script>
    <script src="~/Scripts/Component/config.js"></script>
</body>
</html>
