﻿
/*html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    border: 10px solid grey;
    border-style: solid;
}*/



/*body {
    border: 10px solid grey;
    border-style:solid;
}*/
/*h1 {
    text-align: center;
    color: blue;
    border: 2px solid orange;
}

div {
    text-align: left;
    padding: 25px 25px;
}*/

label {
    display: inline-block;
    float: left;
    clear: right;
    width: 100px;
    text-align: left;
}

.Classlabel {
    padding-left: 10px;
    font-style:normal;
    font-weight:normal;
    font-size:12px;
      
}

.ClasslabelCheckBoxMonthly {
    padding-left: 10px;
}

.ClasslabelCheckBoxWeekly {
    padding-left: 10px;
}

input {
    display: inline-block;
    clear: right;
    float: left;
}

.classInputTextBoxDate {
    height: 30px;
    width: auto;
}

.ClassSubmit {
    padding-left: 125px;
}

.errorMessage {
    margin-left:10px;   
    color:#f00;
    font-size:10px;
}
.nav-button {
   display: inline-block;
   font-size:12px;
   font-weight: normal
}
.visibilityHidden{ visibility: hidden;}

.gridStyle {
    border: 1px solid rgb(212,212,212);
    width: 700px; 
    height: 300px
}

.ngPagerButtonCustom {
    background-color:#428bca;
    height: 25px;
    min-width: 26px;
   }

.ngPagerFirstBarCustom {
  width: 10px;
  border-left: 2px solid #ffffff;
  margin-top: -6px;
  height: 12px;
  margin-left: -3px;
 
}

.ngPagerFirstTriangleCustom {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 8.7px 5px 0;
  border-color: transparent #ffffff transparent transparent;
  margin-left: 2px;  
  background-color:#428bca;
}
.ngPagerNextTriangleCustom {
  margin-left: 1px;
  
  background-color:#428bca;
}
.ngPagerPrevTriangleCustom {
  margin-left: 0;
  
  background-color:#428bca;
}
.ngPagerLastTriangleCustom {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 0 5px 8.7px;
  border-color: transparent transparent transparent #ffffff;
  margin-left: -1px;
  
  background-color:#428bca;
}
.ngPagerLastBarCustom {
  width: 10px;
  border-left: 2px solid #ffffff;
  margin-top: -6px;
  height: 12px;
  margin-left: 1px;
 
  background-color:#428bca;
}


